*{
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin: 5px 20px 5px 20px;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.icon-search {
        background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
}

.serch-section{
    display: flex;
    flex-direction: column;
    gap: 30px ;
    width: 40%;
}
.search-bar{
    display: flex;
}
.search-bar > input{
    text-indent: 17px;
    padding: 0;
    border-end-end-radius: 20px;
    border-start-end-radius: 20px;
    border: 0;
    width: 100%;
    padding: 5px 0 5px 0;
}

.search-bar > i{
    padding: 8px 8px 8px 8px;
    background-color: white;   
    border-width: 2px;
    background-color: rgb(229, 179, 179);

}

.item{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: blueviolet;
    width: 100%;       
    border-radius: 20px;
    color: white;
}

.not-found{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: orangered;
    width: 100%;       
    border-radius: 20px;
    color: white;
}
.dispNone{
    display: none;
}
.Fruit-pool{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.btn{
    width: 30%;
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {
    *{
        font-size: 1.2rem;
    }

    .serch-section{
        width: 60%;
    }
    
}